/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 60px; /* Margin bottom by footer height */

}
.footer {
font-size: 12px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}